{% extends "base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
{% endblock styles %}

{% block content %}
    <main>
        <div class="about">
            <div class="about__container container">
                <div class="about__title">
                    О нас
                </div>
                <div class="about__description">
                    <p>
                        Мы специализируемся на создании уникальных изделий из дерева на заказ, а также предоставляем готовую продукцию в городе Курске. 
                    </p>
                    <p>
                        У нас широкий спектр услуг - от выжигания картин и портретов на деревянных заготовках до изготовления оригинальных сувениров и предметов декора.
                    </p>
                    <p>
                        Наш мастер использует технику выжигания по дереву, чтобы воплотить в жизнь любые Ваши идеи и пожелания. Будь то семейный портрет, пейзаж, абстрактная композиция или даже логотип Вашей компании - мы с радостью сделаем это!
                    </p>
                    <p>
                        На данный момент уже успели поработать с некоторыми курскими заведениями…
                    </p>
                </div>
            </div>
        </div>
        <div class="slider">
            <div class="swiper-container mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide"><img src="{% static 'img/img.png' %}" alt=""></div>
                  <div class="swiper-slide"><img src="{% static 'img/img.png' %}" alt=""></div>
                  <div class="swiper-slide"><img src="{% static 'img/img.png' %}" alt=""></div>
                  <div class="swiper-slide"><img src="{% static 'img/img.png' %}" alt=""></div>
                  <div class="swiper-slide"><img src="{% static 'img/img.png' %}" alt=""></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
              </div>
        </div>
        <div id="contacts"></div>
        <div class="contacts">
            <div class="contacts__container container">
                <div class="contacts__title">Контакты</div>
                <div class="contacts__description">
                    <p>Адрес: г. Курск, проспект Кулакова, 39А</p>
                    <p>Ежедневно с 10:00 до 21:00</p>
                    <p>Контактный телефон: 8(906)575-71-95</p>
                    <p>E-mail для связи: Shedevers-Kursk46@yandex.ru</p>
                </div>
                <div class="contacts__map">
                    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac5a40cfc5cc26a2e3a867c5f6773f1701832941894cbfc901971523b55d8b54c&amp;width=1160&amp;height=385&amp;lang=ru_RU&amp;scroll=true"></script>            </div>
        </div>
    </main>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/swiper-bundle.min.js.map' %}"></script>
    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/slider.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
{% endblock scripts %}
