{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}
    {% endblock styles %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>{{title}}</title>
    <style>
        a {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>
<body>
    <header class="header">
        <div class="container header__container">
            <div class="header__items">
                
                <div class="header__item">
                    <div class="header__link header__openMenu">Услуги</div>
                    <div class="drop-menu">
                        <div class="triangle"></div>
                        <a href="{% url 'services' type='Поделки_и_сувениры' %}" class="drop-item">Поделки и <br> сувениры</a>
                        <a href="{% url 'services' type='Выжигание_портретов' %}" class="drop-item">Выжигание <br> портретов</a>
                        <a href="{% url 'services' type='Выжигание_картин' %}" class="drop-item">Выжигание <br> картин</a>
                    </div>
                    <a href="{% url 'reviews' %}" class="header__link">Отзывы</a>
                    <a href="{% url 'about' %}" class="header__link">О нас</a>
                </div>
                <div class="header__item">
                    <a href="{% url 'index' %}" class="header__logo">Главная</a>
                </div>
                
                <div class="header__item header__burger">
                    <div class=""><img src="{% static 'icon/burger.svg' %}" alt=""></div>
                </div>
                <div class="header__item">
                    <a class="header__link">8(999)123-45-67</a>
                    <a class="header__link">Почта</a>
                </div>
            </div>
            <div class="header__body">
                <div class="header__logo">LOGO</div>

                <a href="#" class="header__link header__menu">Услуги</a>
                <div class="dropdown-menu">
                    <a href="{% url 'services' type='Поделки_и_сувениры' %}" class="dropdown-item">Поделки и сувениры</a>
                    <a href="{% url 'services' type='Выжигание_портретов' %}" class="dropdown-item">Выжигание портретов</a>
                    <a href="{% url 'services' type='Выжигание_картин' %}" class="dropdown-item">Выжигание картин</a>
                </div>
                <a href="reviews.html" class="header__link">Отзывы</a>
                <a href="aboutUs.html" class="header__link">О нас</a>
                <a href="#" class="header__link">8(999)123-45-67</a>
            </div>
        </div>
    </header>

    {% block content %}
    {% endblock content %}

    <footer class="footer">
        <div class="footer__container container">
            <div class="footer__items">
                <a href="{% url 'index' %}" class="footer__link">Главная</a>
                <a href="{% url 'about' %}" class="footer__link">О нас</a>
                <a href="aboutUs.html" class="footer__link">Доставка</a>
                {% comment %} <a href="#" class="footer__link">Оплата</a> {% endcomment %}
            </div>
            <div class="footer__bottom">
                <div>Шедевры из дерева | Курск</div>
                <div class="footer__adress">
                    Москва, ул Мясницкая д.10, 3 этаж офис 204 <br> с 9:00 до 20:0
                </div>
            </div>
        </div>
    </footer>

    {% block scripts %}
    <script src="{% static 'js/header.js' %}"></script>
    {% endblock scripts %}
</body>
</html>