{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="bg-container">
        
        <div class="intro">
            <div class="container intro__container">
                <div class="intro__title">Шедевры из <br> дерева | Курск</div>
                <div class="intro__subtitle">Мы занимаемся изготовлением изделий из дерева</div>
                <div class="intro__buttons">
                    <button class="intro__btn btn">Заказать</button>
                </div>
            </div>
        </div>
    </div>
    <div class="advantages">
        <div class="container advantages__container">
            <div class="advantages__items">
                <div class="advantages__item">
                    <img src="{% static 'icon/message.svg' %}" alt="" class="advantages__img">
                    <div class="advantages__title">Изделия любой формы и сложности</div>
                    <div class="advantages__description">
                        Имеем обширный спектр и ряд возможностей для реализации ваших идей. Подойдем креативно и сделаем именно то, что Вам нужно!
                    </div>
                </div>
                <div class="advantages__item">
                    <img src="{% static 'icon/settings.svg' %}" alt="" class="advantages__img">
                    <div class="advantages__title">Лучшие цены</div>
                    <div class="advantages__description">
                        Предлагаем лучшие цены среди конкурентов. Закажи – убедись сам!
                    </div>
                </div>
                <div class="advantages__item">
                    <img src="{% static 'icon/refresh.svg' %}" alt="" class="advantages__img">
                    <div class="advantages__title">Короткие сроки</div>
                    <div class="advantages__description">
                        Быстрое и качественное изготовление от 1 до 7 рабочих дней
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="services">
        <div class="services__container container">
            <div class="services__name">Наши услуги</div>
            <div class="services__items">
                <div class="services__item">
                    <a href="{% url 'services' type='Поделки_и_сувениры' %}">
                        <img src="{% static 'img/img.png' %}" alt="" class="services__img">
                        <div class="services__title">Поделки и сувениры</div>
                        <div class="services__description">
                            Подарки на любые праздники и для важных моментов - годовщина, свадьба или юбилей: значимая дата в Вашей жизни!
                        </div>
                    </a>
                </div>
                <div class="services__item">
                    <a href="{% url 'services' type='Выжигание_портретов' %}">
                        <img src="{% static 'img/img.png' %}" alt="" class="services__img">
                        <div class="services__title">Выжигание портретов</div>
                        <div class="services__description">
                            Неповторимый пopтpет, выполненный на дереве под зaкaз - пoиcтинe уникальный подaрок себе и cвоим близким!
                        </div>
                    </a>
                </div>
                <div class="services__item">
                    <a href="{% url 'services' type='Выжигание_картин' %}">
                        <img src="{% static 'img/img.png' %}" alt="" class="services__img">
                        <div class="services__title">Выжигание картин</div>
                        <div class="services__description">
                            Изобразим все, что угодно! Вашей фантазии нет границ - картины природы, быта, периоды жизни и многое другое!
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="works">
        <div class="works__container container">
            <div class="works__title">Наши работы</div>
            <div class="works__items">
                <div class="works__item" id="works__item-1">works__item-1</div>
                <div class="works__item" id="works__item-2">works__item-2</div>
                <div class="works__item" id="works__item-3">works__item-3</div>
                <div class="works__item" id="works__item-4">works__item-4</div>
                <div class="works__item" id="works__item-5">works__item-5</div>
                <div class="works__item" id="works__item-6">works__item-6</div>
                <div class="works__item" id="works__item-7">works__item-7</div>
                <div class="works__item" id="works__item-8">works__item-8</div>
                <div class="works__item" id="works__item-9">works__item-9</div>
                <div class="works__item" id="works__item-10">works__item-10</div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/header.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock scripts %}