{% extends "base.html" %}
{% load static %}
{% load tags %}

{% block content %}
<style>
    html{
        height: initial;
    }
</style>
    <main>
        <div class="reviews">
            <div class="reviews__title">
                Наши отзывы
            </div>
            <div class="reviews__container container">
                <div class="reviews__comments">
                    {% for review in reviews %}
                        <div class="reviews__comment">
                            <div class="reviews__name">
                                {{review.author_full_name}}
                            </div>
                            <div class="reviews__info">
                                <div class="reviews__date">{{review.date|date_format}}</div>
                                <div class="reviews__star">
                                    {% for star in review.estimation|times %}
                                        <img src="{% static 'icon/star.svg' %}" alt="">
                                    {% endfor %}
                                </div>
                                <div class="reviews__tag">{{review.estimation|feedback_message}}</div>
                            </div>
                            <div class="reviews__text">{{review.content}}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="reviews__rating rating">
                    <div class="rating__title">Рейтинг магазина</div>
                    <div class="rating__rating"><span>{{average_estimation}}</span>/5</div>
                    <div class="rating__stars">
                        {% for star in average_estimation|times %}
                            <img src="{% static 'icon/star.svg' %}" alt="">
                        {% endfor %}
                    </div>
                    <div class="rating__suptitle">На основе {{reviews_count}} оценок покупателей</div>
                    <div class="rating__subtitle">Оставьте свой отзыв о нас!</div>
                    <div class="rating__btn">
                        <button id="openFeedbackBtn">Написать</button>
                    </div>

                    <!-- Модальное окно для оставления отзыва -->
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <div class="modal__title">Оставьте свой отзыв</div>
                            <form method="post" class="feedback">
                                {% csrf_token %}
                                <div class="feedback__form cf">
                                    <div class="half feedback__left cf">
                                        <input type="text" id="input-name" name="author_full_name" placeholder="Полное имя" required>
                                        <input type="text" id="input-email" name="author_tg" placeholder="Ваш телеграм" required>

                                        <div class="menu-container">
                                            <div class="dropdown">
                                                <div class="select">
                                                    <span>Выберите продукт</span>
                                                    <i class="fa fa-chevron-left"></i>
                                                </div>
                                                <input type="hidden" name="product" id="product-id">
                                                <ul class="dropdown-menu">
                                                    {% for product in products %}
                                                        <li data-value="{{ product.id }}">{{ product.title }}</li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="half feedback__right cf">
                                        <textarea name="content" id="input-message" placeholder="Ваш отзыв" required></textarea>
                                    </div>
                                </div>
                                <div class="feedback__btn">
                                    <div class="feedback-rating">
                                        <input type="radio" name="estimation" id="star5" value="5"><label for="star5">&#9733;</label>
                                        <input type="radio" name="estimation" id="star4" value="4"><label for="star4">&#9733;</label>
                                        <input type="radio" name="estimation" id="star3" value="3"><label for="star3">&#9733;</label>
                                        <input type="radio" name="estimation" id="star2" value="2"><label for="star2">&#9733;</label>
                                        <input type="radio" name="estimation" id="star1" value="1"><label for="star1">&#9733;</label>
                                    </div>
                                    {% if error %}
                                        <div class="error-message">{{ error }}</div>
                                    {% endif %}
                                    <button class="" type="submit">Оставить отзыв</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>
{% endblock content %}
    
{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'js/reviews.js' %}"></script>
    <script src="{% static 'js/header.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('myModal');
            var closeModal = document.querySelector('.modal .close');

            closeModal.onclick = function() {
                modal.style.display = 'none';
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = 'none';
                }
            }

            var select = document.querySelector('.dropdown .select');
            var menu = document.querySelector('.dropdown-menu');
            var hiddenInput = document.querySelector('input[name="product"]');

            select.addEventListener('click', function () {
                menu.classList.toggle('show');
            });

            menu.addEventListener('click', function (e) {
                var target = e.target;
                if (target.tagName === 'LI') {
                    hiddenInput.value = target.getAttribute('data-value');
                    select.querySelector('span').textContent = target.textContent;
                    menu.classList.remove('show');
                }
            });
        });
    </script>

    <script>
        document.querySelectorAll('.dropdown-menu li').forEach(function(item) {
            item.addEventListener('click', function() {
                var value = this.getAttribute('data-value');
                document.getElementById('product-id').value = value;
            });
        });
    </script>
{% endblock scripts %}