.container{
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}
body{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header{
    flex: 0 0 auto;
}
main{
    flex: 1 0 auto;
}
footer{
    flex: 0 0 auto;
}
//========================================

.header {
    background: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    position: relative;
    @media (max-width: 768px) {
       background: #000;
       color: #fff;
    }

    // .header__container
    &__container {
    }
    // .header__items
    &__items {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .header__item
    &__item {
        font-size: 16px;
        text-transform: uppercase;
        &:first-child{
            @media (max-width: 768px) {
                display: none;
            }
        }
        &:last-child{
            @media (max-width: 768px) {
                display: none;
            }
        }
       
    }
    // .header__link
    &__link {
        text-decoration: none;
        color: #000;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
    
    // .header__logo
    &__logo {
        font-size: 32px;
        @media (max-width: 768px) {
            font-size: 18px;
            font-weight: 600;
        }
    }
    &__body{
        display: none;
        padding: 30px 0;
        position: absolute;
        top: 60px;
        left: 0;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
        background: #fff;
        text-align: center;
        width: 100%;
        .header__logo{
            margin-bottom: 40px;
            color: #000;
            font-size: 24px !important;
            font-weight: 400;
        }
        & .header__link{
            display: block;
            font-size: 18px ;
            padding: 10px 0;
            margin: 0;
            text-align: center;
        }
    }
    &__burger{
        display: none;
        & img{
            width: 35px;
        }
        @media (max-width: 768px) {
            display: block;
        }
    }
    .hidden{
        display: block;
    }
}


//=================dropdown menu

.dropdown-menu {
    display: none; /* Hidden by default */
    background-color: white;
    width: 100%; /* Full width of the header */
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 10px 0;
}

.dropdown-item {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.show {
    display: block; /* Show when active */
}

//=================dropmenu

.drop-menu {
    display: none;
    position: absolute;
    top: 55px;
    background-color: #333; /* Dark background color */
    color: #fff; /* Text color */
    width: 120px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    font-size: 14px;
    padding: 15px;
}

.drop-menu .drop-item {
    color: #fff; /* Text color for dropdown items */
    text-decoration: none;
    text-transform: none;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}

.drop-menu .drop-item:hover {
    background-color: #575757; /* Background color on hover */
    transition: all .5s ease;
}

.header__item:hover .drop-menu {
    display: block;
}
.triangle{
    border: 20px solid transparent; border-bottom: 20px solid #333;
    position: absolute;
    top: -30px;
   
}

//========================================
.btn {
    padding: 12px 50px;
    font-size: 24px;
    font-weight: 100;
    border-radius: 20px;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}
.bg-container{
    height: 100vh;
    background: rgb(49, 49, 49);
}
.intro {
    padding-top: 100px;
    // background-image: url("../imgs/bg.png");
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center;
    // .intro__container
    &__container {
        color: #fff;
    }
    // .intro__title
    &__title {
        font-size: 100px;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 100%;
        @media (max-width: 1024px) {
            font-size: 82px;
        }
        @media (max-width: 768px) {
            font-size: 62px;
        }
        @media (max-width: 500px) {
            font-size: 54px;
        }
        @media (max-width: 425px) {
            font-size: 40px;
        }
        &::after{
            content: "";
            margin-top: 15px;
            display: flex;
            background: #fff;
            width: 100px;
            height: 2px;
        }
    }
    // .intro__subtitle
    &__subtitle {
        font-size: 18px;
        margin-bottom: 50px;
    }
    // .intro__buttons
    &__buttons {
        & button{
            @media (max-width: 460px) {
                display: block;
                margin-bottom: 20px;
                width: 100%;
            }
        }
    }
    // .intro__btn
    &__btn {
        &:first-child{
            background: rgb(0, 0, 0);
            color: #fff;
            border: 1px solid #000;
            font-weight: 300;
            border: none;
            transition: all ease .5s;
            margin-right: 15px;
            &:hover{
                background: #fff;
                color: #000;
                transition: all ease .5s;
            }
        }
        &:last-child{
            background: #fff;
            color: #fff;
            border: 1px solid #fff;
            font-weight: 300;
            background: none;
            transition: all ease .5s;
            &:hover{
                background: #fff;
                color: #000;
                transition: all ease .5s;
            }
        }
    }
}


//===========================================================
.advantages {
    margin-bottom: 50px;
    // .advantages__container
    &__container {
    }
    // .advantages__items
    &__items {
        display: flex;
        flex-wrap: wrap;
        margin-top: 100px;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    // .advantages__item
    &__item {
        flex: 0 0 28%;
        @media (max-width: 768px) {
            flex: 0 0 100%;
        }
    }
    // .advantages__img
    &__img {
        margin-bottom: 20px;
        width: 100px;
        max-width: 100%;
    }
    // .advantages__title
    &__title {
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    // .advantages__description
    &__description {
        font-weight: 300px;
        font-size: 16px;
    }
}

//===========================================
.services {
    margin-bottom: 90px;
    // .services__container
    &__container {
        text-align: center;
    }
    // .services__name
    &__name {
        font-weight: 400;
        font-size: 46px;
        margin-bottom: 60px;
    }
    // .services__items
    &__items {
        display: flex;
        align-items: top;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    // .services__item
    &__item {
        flex: 0 0 32%;
        text-align: left;
        @media (max-width: 768px) {
            flex: 0 0 100%;
            margin-bottom: 40px;
        }
        & a{
            text-decoration: none;
            color: #000;
        }
    }
    // .services__img
    &__img {
        max-width: 100%;
        margin-bottom: 15px;
    }
    // .services__title
    &__title {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    // .services__description
    &__description {
        
        font-size: 18px;
        font-weight: 300;
        display: block;
        text-align: left;
    }
}

//=============================================
.works {
    margin-bottom: 60px;
    // .works__container
    &__container {
    }
    // .works__items
    &__items {
        display: grid;
        grid-template-rows: 160px 160px 160px; /* Three rows of 200px each */
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        width: 100%;
    }
    // .works__item
    &__item {
        background: #000;
        max-width: 100%;
    }
    &__title{
        font-weight: 500;
        font-size: 46px;
        margin-bottom: 40px;
        text-align: center;
    }
}



.works__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.1); /* Default background color */
}

#works__item-1 {
    height: 160px;
    grid-area: 1/1/2/2;
    background-color: rgba(170,252,235, 0.5);
}
#works__item-2 {
    height: 160px;
    grid-area: 2/1/3/2;
    background-color: rgba(222,77,57, 0.5);
}
#works__item-3 {
    height: 160px;
    grid-area: 3/1/4/2;
    background-color: rgba(231,174,153, 0.5);
}
#works__item-4 {
    height: 300px;
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgba(50,50,108, 0.5);
}
#works__item-5 {
    height: 160px;
    margin-top: 140px;
    grid-area: 2 / 2 / 3 / 3;
    background-color: rgba(26,89,36, 0.5);
}
#works__item-6 {
    height: 160px;
    grid-area: 1/3/2/4;
    background-color: rgba(199,178,170, 0.5);
}
#works__item-7 {
    height: 160px;
    grid-area: 2/3/3/4;
    background-color: rgba(124,181,58, 0.5);
}
#works__item-8 {
    height: 160px;
    grid-area: 3/3/4/4;
    background-color: rgba(104,165,250, 0.5);
}
#works__item-9 {
    height: 300px;
    grid-area: 1 / 4 / 2 / 5;
    background-color: rgba(183,229,90, 0.5);
}
#works__item-10 {
    height: 160px;
    margin-top: 140px;
    grid-area: 2 / 4 / 3 / 5;
    background-color: rgba(158,133,156, 0.5);
}

@media (max-width: 1024px) {
    .works__items {
        max-width: 640px;
        margin: 0 auto;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 160px;
    }
   
    #works__item-1 { grid-area: auto; }
    #works__item-2 { grid-area: auto; }
    #works__item-3 { grid-area: auto; }
    #works__item-4 { grid-area: auto; height: 160px;}
    #works__item-5 { 
        grid-area: auto; 
        margin-top: 0px;
    }
    #works__item-6 { grid-area: auto; }
    #works__item-7 { grid-area: auto; }
    #works__item-8 { grid-area: auto; }
    #works__item-9 { grid-area: auto; height: 160px;}
    #works__item-10 { 
        grid-area: auto;
        margin-top: 0px;
    }
   
}

@media (max-width: 375px) {
    .works__items {
        max-width: 640px;
        margin: 0 auto;
        grid-template-columns: 1fr;
        grid-auto-rows: 160px;
    }
    #works__item-1 { grid-area: auto; }
    #works__item-2 { grid-area: auto; }
    #works__item-3 { grid-area: auto; }
    #works__item-4 { grid-area: auto; }
    #works__item-5 { grid-area: auto; }
    #works__item-6 { grid-area: auto; }
    #works__item-7 { grid-area: auto; }
    #works__item-8 { grid-area: auto; }
    #works__item-9 { grid-area: auto; }
    #works__item-10 { grid-area: auto; }
}

//=================================================
.footer {
    background: #171717;
    padding: 60px 0;
    // .footer__container
    &__container {
    }
    // .footer__items
    &__items {
        text-align: center;
        margin-bottom: 40px;
    }
    // .footer__link
    &__link {
        font-size: 14px;
        color: #fff;
        font-weight: 600;
        text-decoration: none;
        &:not(:last-child){
            margin-right: 30px;
        }
    }
    // .footer__bottom
    &__bottom {
        text-align: center;
        color: #a1a1a1;
    }
    // .footer__adress
    &__adress {
    }
}

//=================================================

.service {
    font-family: "Montserrat", sans-serif;
    margin-top: 60px;
    margin-bottom: 100px;
    // .service__container
    &__container {
    }
    // .service__items
    &__items {
        display: flex;
        justify-content: space-between;
        @media (max-width: 992px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
            justify-content: center;
            max-width: 800px;
            margin: 0 auto;
        }
    }
    // .service__info
    &__info {
        flex: 0 50%;
        @media (max-width: 992px) {
            flex: 0 0 100%;
        }
    }
    // .service__title
    &__title {
        font-size: 46px;
        color: #000;
        font-weight: 500;
        text-transform: uppercase;
        @media (max-width: 992px) {
            text-align: center;
        }
        @media (max-width: 768px) {
            font-size: 36px;
            font-weight: 600;
        }
    }
    // .service__description
    &__description {
        font-size: 16px;
        width: 90%;
        font-weight: 300;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
    // .service__img
    &__img {
        flex: 0 0 40%;
        position: relative;
        @media (max-width: 992px) {
            text-align: center;
            flex: 0 0 100%;
            margin-bottom: 40px;
        }
        & img{
            max-width: 100%;
            width: 350px;
            position: relative;
            z-index: 2;
            
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            top: -6%;
            left: 27%;
            width: 350px;
            height: 400px;
            border: 1px solid #000;
            @media (max-width: 992px) {
               display: none;
            }
        }
    }
}

//==========================================================
.order {
    margin-bottom: 60px;
    padding-top: 40px;
    background: rgb(145, 145, 145);
    // .order__container
    &__container {
    }
    &__items{
        display: flex;
        align-items: end;
    }
    &__item{
        &:first-child{
            flex: 0 0 30%;
            & img{
                transform: rotate(90deg);
                max-width: 100%;
                width: 150px;
                
            }
            @media (max-width: 992px) {
               display: none;
            }
        }
    }
    // .order__title
    &__title {
        font-size: 46px;
        font-weight: 400;
        margin-bottom: 40px;
        @media (max-width: 992px) {
            font-size: 36px;
         }
         @media (max-width: 768px) {
            font-size: 24px;
         }
    }
    // .order__description
    &__description {
        font-size: 16px;
        font-weight: 300;
        width: 90%;
        margin-bottom: 10px;
    }
    // .order__icons
    &__icons {
        margin-bottom: 20px;
    }
    // .order__icon
    &__icon {
        max-width: 100%;
        width: 70px;
        margin-left: 20px;
    }
}

//==================================

.products {
    // .products__container
    &__container {
    }
    // .products__name
    &__name {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 46px;
        text-align: center;
        margin-bottom: 60px;
        @media (max-width: 992px) {
            font-size: 36px;
        }
    }
    // .products__items
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 260px);
        column-gap: 40px;
        row-gap: 40px;
        justify-content: center;
        margin-bottom: 50px;
        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, 260px);
        }
        @media (max-width: 992px) {
            grid-template-columns: repeat(2, 260px);
        }
        @media (max-width: 600px) {
            grid-template-columns: repeat(1, 260px);
        }
    }
    // .products__item
    &__item {
        display: none;
       text-align: center;
       &:nth-child(-n+4) {
        display: block; 
        }
    }
    &__img{
        max-width: 100%;
        margin-bottom: 20px;
    }
    // .products__title
    &__title {
       font-size: 20px;
       margin-bottom: 10px;
    }
       // .products_price
    &_price {
        font-size: 20px;
    }
    // .products__btn
    &__btn {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        & button{
            background: transparent;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

//==========================================================
.reviews {
    margin-bottom: 40px;
    // .reviews__container
    &__container {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1024px) {
            flex-wrap: wrap;
            flex-direction: column-reverse;
        }
    }
    // .reviews__title
    &__title {
        text-align: center;
        font-size: 46px;
        margin-top: 60px;
        margin-bottom: 30px;
    }
    // .reviews__comments
    &__comments {
        flex: 0 0 75%;
    }
    // .reviews__comment
    &__comment {
        padding: 10px;
        box-shadow: 0px 0px 5px 3px rgba(138,138,138,0.1);
        margin-bottom: 25px;
    }
    // .reviews__name
    &__name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 10px;
    }
    // .reviews__info
    &__info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    // .reviews__date
    &__date {
        font-size: 16px;
        color: #b0a9a9;
    }
    &__tag{
        font-size: 16px;
        color: #b0a9a9;
        @media (max-width: 425px) {
            display: none;
        }
    }
    // .reviews__star
    &__star {
        margin: 0 8px;
        img{
            width: 15px;
        }
    }
    // .reviews__text
    &__text {
        font-size: 18px;
        font-weight: 400;
    }
    // .reviews__rating
    &__rating {
        flex: 0 0 20%;
        
    }
}
//===============MODAL===============

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    transition: opacity 0.5s ease;
    opacity: 0;
    overflow: hidden;

}

.modal-content {
    background-color: #e7e7e7;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    transition: transform 0.5s ease;
    transform: translateY(-50px);
    border-radius: 15px;

}
.modal__title{
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
}
.modal.show {
    display: block;
    opacity: 1;
}

.modal.show .modal-content {
    transform: translateY(0);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


//==========================FORM===

form {
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
   
   input, textarea {
      border:0; outline:0;
      padding: 15px;
      padding-right: 0;
      border-radius:8px;
      width: 95%;
      margin-top: 1em;
      font-family: 'Merriweather', sans-serif;
      box-shadow:0 1px 1px rgba(black, 0.1);
      resize: none;
     
     &:focus {
        box-shadow:0 0px 2px rgba(#000, 1)!important;
     }
   }
   
   
   textarea {
       height: 130px;
   }
 }
 
.feedback__form{
    display: flex;
    justify-content: space-between;
}
 
 .feedback__right { 
    flex: 0 0 49%;
  }
 
 .feedback__left {
    flex: 0 0 50%;
 }
 .feedback__btn{
    text-align: center;
    & button{
        padding: 15px 0;
        border: transparent;
        background: rgb(65, 65, 65);
        width: 100%;
        color: #fff;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 600;
        font-size: 16px;
    }
 }
 
 span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}
.menu-container {
  
}

/*Styling Selectbox*/
.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  color: #474747;
  height: 100%;
  text-align: left;
  width: 99%;
  margin-top: 1em;
  border: none;
  outline: none;
  font-family: 'Merriweather', sans-serif;
  border-radius: 8px;
  font-size: 12px;
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 15px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}



.feedback-rating {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  
}
.feedback-est{
    margin-bottom: 15px;
    color: #bfbfbf;
}
.feedback-rating input {
    display: none;
}

.feedback-rating label {
    margin-right: 3px;
    font-size: 2.5em;
    color: #ccc;
    cursor: pointer;
}

.feedback-rating label:hover,
.feedback-rating label:hover ~ label,
.feedback-rating input:checked ~ label {
    color: rgb(255, 187, 0);
}

input:disabled{
    background: #fff;
}
//======

.rating {
    height: 380px;
    padding: 20px;
    box-shadow: 0px 0px 5px 3px rgba(138,138,138,0.1);
    @media (max-width: 1024px) {
        margin-bottom: 40px;
        text-align: center;
    }
    // .rating__title
    &__title {
        font-size: 24px;
        font-weight: 600;
    }
    // .rating__rating
    &__rating {
        text-align: center;
        font-size: 35px;
        font-weight: 400;
        margin-bottom: 10px;
        & span{
            font-size: 59px;
            font-weight: 600;
        }
    }
    // .rating__stars
    &__stars {
        margin-bottom: 10px;
        text-align: center;
        img{
            width: 30px;
        }
    }
    // .rating__subtitle
    &__suptitle {
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    &__subtitle {
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    // .rating__btn
    &__btn {
        text-align: center;
        & button{
            background: #616161;
            font-size: 14px;
            font-weight: 600;
            border-radius: 15px;
            padding: 10px 40px;
            width: 100%;
            color: #fff;
        }
    }
}

//==============================================
.about {
    margin-top: 60px;
    margin-bottom: 80px;
    // .about__container
    &__container {
        max-width: 960px;
    }
    // .about__title
    &__title {
        font-size: 46px;
        text-align: center;
        text-transform: uppercase;
    }
    // .about__description
    &__description {
        font-size: 16px;
        font-weight: 300;
        width: 65%;
        margin: 0 auto;
    }
}


//==========================================
.contacts {
    margin-bottom: 40px;
    // .contacts__container
    &__container {
    }
    // .contacts__title
    &__title {
        font-size: 46px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    // .contacts__description
    &__description {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 50px;
        & p{
            margin: 5px 0;
        }
    }
    // .contacts__map
    &__map {
        width: 100%;
        max-width: 100%;
        height: auto;
        & iframe {
            width: 100%;
            max-width: 100%;
        }
    }
}

//=========================slider
.mySwiper {
 
}
.slider {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 200px;
    overflow: hidden;
    @media (max-width: 1024px) {

    }
}

.swiper-container {
    width: 100% !important;
    height: 100%;
    @media (max-width: 1024px) {
        width: 80%;
    }
}

.swiper-slide {
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-wrappe{
    width: 100%;
}
.swiper-button-prev {
    left: 20% !important;
}

.swiper-button-next {
    right: 20% !important;
}

.swiper-slide img {
    display: block;
    max-width: 100%;
    width: 860px;
    height: 550px;
    margin: 0 auto;
    object-fit: cover;
    @media (max-width: 1440px) {
        width: 620px;
    }
    @media (max-width: 992px) {
        width: 620px;
    }
    @media (max-width: 768px) {
        object-fit: contain;
    }
}

.swiper-button-prev::after {
    content: "←"; /* заменяет текст на левой стрелке */
    font-size: 16px !important;
    color: #000; /* цвет стрелки */
    background: #e8e8e8;
    padding: 8px 0;
    padding-left: 10px;
    padding-right: 14px;
    border-radius: 50px;
    @media (max-width: 1440px) {
      display: none;
    }
    @media (max-width: 992px) {
        display: block;
    }
}
.swiper-button-next::after {
    content: "←"; /* заменяет текст на левой стрелке */
    font-size: 16px !important;
    color: #000; /* цвет стрелки */
    background: #e8e8e8;
    padding: 8px 0;
    padding-left: 14px;
    padding-right: 10px;
    border-radius: 50px;
    @media (max-width: 1440px) {
        display: none;
      }
    @media (max-width: 992px) {
        display: block;
    }
}

//=======================================
